<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>zinger.design</title>

    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    
</head>
<body>


        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h2>zinger.design</h2>
                    <p>Webpage in progress. Come back soon!</p>
                </div>
            </div>
        </div>

</body>
</html>